   <!--   <div class="row mx-auto bg-light pad">
            <div class="col-12 text-center pad">
                <h2>Your Monthly Expenses are : {{Monthly Expenses}}</h2>
            </div>
        </div>

        <div class="row vertical-space">
            <div class="col-3">
                <div class="card text-center text-center">
                    <div class="card-header bg-dark text-white font-weight-bold text-uppercase">
                        Housing
                    </div>
                     <div class="card-block">
                        <div>Location : {{Location}}</div>
                        <div>Sharing : {{Sharing}}</div>
                        <div>House Type : {{House Type}}</div>
                        <div>Rent : {{Rent}}</div>
                        <div>Public Utility Bills : {{Public Utility Bills}}</div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    Monthly Housing Expenses : {{Monthly Housing Expenses}}
                </div>
            </div>

              <div class="col-3">
                <div class="card text-center text-center">
                    <div class="card-header bg-dark text-white font-weight-bold text-uppercase">
                        Housing
                    </div>
                     <div class="card-block">
                        <div>Location : {{Location}}</div>
                        <div>Sharing : {{Sharing}}</div>
                        <div>House Type : {{House Type}}</div>
                        <div>Rent : {{Rent}}</div>
                        <div>Public Utility Bills : {{Public Utility Bills}}</div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    Monthly Housing Expenses : {{Monthly Housing Expenses}}
                </div>
            </div>

               <div class="col-3">
                <div class="card text-center text-center">
                    <div class="card-header bg-dark text-white font-weight-bold text-uppercase">
                        Housing
                    </div>
                     <div class="card-block">
                        <div>Location : {{Location}}</div>
                        <div>Sharing : {{Sharing}}</div>
                        <div>House Type : {{House Type}}</div>
                        <div>Rent : {{Rent}}</div>
                        <div>Public Utility Bills : {{Public Utility Bills}}</div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    Monthly Housing Expenses : {{Monthly Housing Expenses}}
                </div>
            </div>

               <div class="col-3">
                <div class="card text-center text-center">
                    <div class="card-header bg-dark text-white font-weight-bold text-uppercase">
                        Housing
                    </div>
                     <div class="card-block">
                        <div>Location : {{Location}}</div>
                        <div>Sharing : {{Sharing}}</div>
                        <div>House Type : {{House Type}}</div>
                        <div>Rent : {{Rent}}</div>
                        <div>Public Utility Bills : {{Public Utility Bills}}</div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    Monthly Housing Expenses : {{Monthly Housing Expenses}}
                </div>
            </div>

        </div> -->