<!DOCTYPE html>
<html>

<head>
    <title>Questions to User</title>
    <!-- Styles -->
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/noback.js"></script>
</head>

<body>
    <form method="post" action="/">
        <div class="navbar-fixed-left"></div>
        <section class="mx-auto text-center bg-info heading-bar">
            <h2 class="display-2 font-weight-bold text-white">NU$tudent Fiscal</h2>
            <h6 class="dispaly-4 font-weight-normal text-white">An Intelligent Budget Recommendation System for NUS Students</h6>
        </section>
        <div class="row container mx-auto vertical-space"></div>
        <section class="container mx-auto bg-light">
            <div class="row container">
                <div class="question-box text-left align-self-start margin-left">
                    <div class="text-justify text-left">
                        <p class="question text-info">{{!question}}</p>
                    </div>
                </div>
                <div class="row container">
                    <div class="answer-box text-left align-self-start margin-left">
                        <input type="submit" name="opt1" value="{{opt1}}" class="btn btn-md btn-info {{" hide " if opt1 is None else " "}}"/>
                        <input type="submit" name="opt2" value="{{opt2}}" class="btn btn-md btn-info {{" hide " if opt2 is None else " "}}"/>
                        <input type="submit" name="opt3" value="{{opt3}}" class="btn btn-md btn-info {{" hide " if opt3 is None else " "}}"/>
                    </div>
                </div>
        </section>
        <input type="submit" name="restart" value="Restart" class="btn btn-lg bg-warning btn-block" style="position:fixed; bottom: 15px; right:15px; width:100px;" />
    </form>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/slider.js"></script>
</body>

</html>