
.heading {
    font-style: italic;
    font-weight: bolder;
    font-size: 55px;
}

.hide {
    visibility: hidden;
}

.question-box{
    min-height: 200px;
    padding-top: 1em;
}


.answer-box{
    padding-bottom: 1em;
}

.question{
    font-size: larger;
    font-style: bold;
}   

.vertical-space{
    padding-top: 1em;
    margin-top: 2em;
}

.pad{
    padding: 1em;
}